#dynamic-toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    background-color: #FDBE02;
    color: white;
    /* text-decoration: underline overline; */
    
}